<h1>Searching for <%= @search_term%></h1>
<p>Powered By Food2Fork.com</p>
<table border = "1">
<tr>
	<th>Image</th>
	<th>Name</th>
	<th>Social Rank</th>
</tr>
<% @recipesList["recipes"].each do |recipeItem|%>
	<tr class=<%= cycle('even','odd')%>>
		 <td><%= link_to(image_tag(recipeItem["image_url"], size:"100"), recipeItem["f2f_url"])%></td>
		 <td><%= link_to(sanitize(recipeItem["title"]),recipeItem["f2f_url"]) %></td>
		 <td><%= recipeItem["social_rank"] %></td>
<%end%>
</table>